*.swp
*.pyc
.idea/
__pycache__/
last_mention
last_mail
ticketfrei.cfg
ticketfrei.sqlite-journal
db.sqlite
frontend.log
backend.log
seen_toots.pickle
seen_toots.pickle.part
pip-selfcheck.json
config.toml
venv/
bin/
include/
lib/
share/
local/
venv/
